<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="cola.conexion" value="tcp://localhost:61616"/>
		<add key="cola.pedido.nombre" value="PEDIDO"/>
		<add key="url.nimbus" value="https://site.nimbus.ncubo.com"/>
		<add key="rest.pedido.url" 
		value="/UIQA/newbikes/busqueda/productos?catalogo=catalogoGeneral&amp;valorDeBusqueda=*&amp;indiceInicial=0&amp;tamano=10"/>
		<add key="item.nimbus" 
		value="/UIQA/newbikes/busqueda/productos?catalogo=catalogoGeneral&amp;valorDeBusqueda=*&amp;indiceInicial=0&amp;tamano=10"/>
	</appSettings> 
</configuration>